html{
  scroll-behavior: smooth;
}
body{
 background-image:url("../images/img3.webp"); 
}
#profile{
  position:relative;
  top:-7px;
  margin-left:-8px;
  width:65px;
  height:65px;
  border:solid black 2px;
  border-radius:40px;
}
.link{
  text-decoration: none;
  font-size:19px;
  color:black;
}
  nav{
  width:330px;
  height:60px;
  display:flex;
  justify-content:space-around;
  margin:10px;
  background-color:#DCDCDC;
    margin-left: 62px;
  position:relative;
  top:-92px;
    border-radius:10px;
    box-shadow:7px 7px 1px rgba(85, 85, 85,0.7);
}
.changer{
  background-color: white;
  position: relative;
  width:35px;
  height:25px;
  border-radius:17px;
  top:-75px;
  display:flex;
  justify-content:centre;
  margin-left:-8px;
  
}
.circle{
  width:15px;
  height:18px;
  border-radius:130px;
  background-color:black;
  position:relative;
  top:3.5px;
  left:2.5px;
}
p{
  line-height:25px;
  font-family:"inter",sans-serif;
  margin-left: 3px;
  font-size: 15px;
  font-family:"Helvetica Neue"
}
#about{
  margin-top:30px;
  width:358px;
  padding:2px;
  text-align:left;
  opacity:0.8;
  border:solid 1px black;
  border-radius:15px;
  background-color:#DCDCDC;
  margin-left:3px;
  transform:translatey(-90px);
}
.projects{
  border:solid 1px black;
  border-radius:10px;
  background-color: #DCDCDC;
}
#devs{
  background-color:#DCDCDC;
  border:solid 1px black;
  border-radius:10px;
  margin:10px;
  width:350px;
  margin-left:3px;
  padding: 5px;
}
#desc{
   background-color: #DCDCDC;
  border:solid 0.5px black;
  border-radius:10px;
  font-size:  16px;
  font-weight: bold;
  padding:2px;
  margin-left:3px;
  column-count: 2;
  column-rule: 0.5px dotted black;
}
.skills{
  width:363px;
  font-weight: bold;
  border:solid 1px black;
  border-radius: 10px;
  text-align:center;
  background-color:#DCDCDC;
}
h1,h2{
  text-decoration: underline;
}
#contact{
  width:364px;
  background-color: #DCDCDC;
  margin-top:17px;
  border:solid 1px black;
  border-radius:10px
}
#cont_buttons{
  width:100px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding: 20px;
  
}
#footer{
  text-align: center;
}
#contact-form{
  background-color: #BEBEBE;
  height:230px;
  display:flex;
  flex-direction:column;
  width:250px;
  height:200px;
  border:solid 1px black;
  border-radius: 6px;
  margin:7px 30px 30px 36px;
}
#doctrines{
  line-height:35px;
  width:300px;
  position:relative;
  left:20px;
  
}

input,button,textarea{
  margin:5px;
  width:200px;
  height:50px;
  overflow: scrollbar;
}
#send{
  width:45px;
}
.cont{
  width:50px;
  border-radius:55px;
}
.para{
  display: inline;
}
.togglebutton{
  height:30px;
  width:15px;
  border-radius: 13px;
}
.dark{
  background-color:black;
  
